
h1{
	color:white;
	font-size: 54px;
	text-align: center;
}

h2{
	font-family:Century Gothic;
	color:black;
	font-size: 50px;
	text-align: center;
	
}

h3{
	color: white;
	text-align: center;
}


#home-info p{
    font-size:18px;
    text-align:center;
}

.jumbotron{
	background-image: url('images/jumbotronwedding2.jpg');
	background-size: cover;
	background-position:center;
	width:100%;
	color:white;
	margin-top:50px;
	min-height: 500px;
	padding-top:400px;
    margin-bottom:0px;
}

body{
	background-color: lightgray;
}

#buttonAboutMe{
	color: white;
	
	height:45px;
	width:100px;
	font-family: Century Gothic;
	font-size:18px;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	text-decoration: none;
	text-align:center;
	padding-left:5px;
	
	
}

#buttonContact{
	color: white;
	
	height:45px;
	width:100px;
	font-family: Century Gothic;
	font-size:18px;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	text-align: center;
	text-decoration: none;
	
	
}

#aboutjumbotron{
	background-image: url('images/af.jpg');
	background-size: cover;
	background-position:center;
	width:100%;
	color:white;
	margin-top:50px;
	min-height: 500px;
	padding-top:600px;
	margin-bottom:0px;
}



#aboutMe{
	
	background-color:#EEEEEE;
    font-size:18px;
}

#aboutMe p {
    font-size:18px;
}
#myStory{
	font-size:65px;
	background-color:#ACAC9B;
	text-align: center;
}

#quotes {
    font-size:18px;
}
/* Sticky footer
--------------------------------------*/
html{
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom: 20px;
}



