body {
    background-color:black;
}
#home-name {
    font-size:36px;
}
#home-image-div {
    margin-top:100px;
    color:white;
}
#home-info-div {
    margin-top:100px;
    color:white;
}
#home-personal-info {
    margin-top:10px;
}
.no-gutter {
    margin-left:0px;
    margin-right:0px;
}
.home-nav-button {
    background-color:black;
    border:2px solid rgb(71,225,12);
    color:white;
    text-decoration:none;
    width:200px;
    margin-top:50px;
    font-size:20px;
}
