
@{
    ViewBag.Title = "About";
}
<script type="text/javascript">
    $(function () {
        $('.storyList').click(function () {
            var title = this.id;
            var title = title + "Div";
            $('.storyDiv').hide();
            $('#' + title).fadeIn(500);
        })
    });
</script>


<div class="jumbotron" id="aboutJumbotron">
    <div class="container">
    </div>
</div>

<!--TODO: Make each of these storyDiv's partial pages?-->

<div class="container-fluid" id="aboutMe">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 list-group" id="aboutButtonGroup">
            <button type="button" class="list-group-item storyList" id="airForce"><p class="text-center">Air Force</p></button>
            <button type="button" class="list-group-item storyList" id="school"><p class="text-center">School</p></button>
            <button type="button" class="list-group-item storyList" id="work"><p class="text-center">Work</p></button>
            <button type="button" class="list-group-item storyList" id="personalLife"><p class="text-center">Personal Life</p></button>
        </div>
    </div>
    <div class="row" id="storyRow">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="storyDiv" id="airForceDiv">
                <p>
                    Early in 2010 I decided I wanted to get out of college and join the military. Nine months later I was on a plane
                    to Lackland Air Force Base with no idea what to expect. I can honestly say the decision to halt my education for the time being
                    and join the the United States Air Force was the best decision of my life thus far. Whilst in the Air Force I learned a lot of things,
                    just a few of them being:
                </p> <br /><br />

                <ul>
                    <li>Hard work trumps everything</li>
                    <li>Communication skills are very important</li>
                    <li>If you are on time, you are late. If you are 15 minutes early, you are on time.</li>
                    <li>Moving 500 miles away from home makes you grow up... fast</li>
                    <li>
                        Don't be afraid to take on work that is unknown to you,
                        take that opportunity to learn something new
                    </li>
                </ul><br />

                <p>
                    The last ten months of my enlistment I was lucky enough to become a Unit Deployment Manager. While taking on this new, completely different
                    job than the one I had previously I got experience in heavy, heavy workload. Something about being in charge of 220 peoples readiness to
                    deploy brings in a lot of work. I had a great Commander that pushed me, she expected a lot out of me and for that I am grateful. With her I
                    learned to pay attention to minute details, every detail matters when it comes to work.
                </p><br /><br />
            </div>

            <div class="storyDiv" id="schoolDiv">
                <p>
                    School Stuff

                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac quam sit amet tortor
                    placerat porta ac at est. Vivamus at massa erat. Nulla facilisi. Nullam dapibus enim et
                    enim egestas faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada
                    fames ac turpis egestas. Aliquam et nisl leo. Nulla tristique porttitor mauris ac efficitur.
                    Aliquam ut odio vitae libero suscipit maximus et eget mauris. Etiam nec ipsum laoreet, viverra
                    sem vel, commodo justo. Aenean et ullamcorper nisl, a iaculis massa. Sed a facilisis mi. Nulla
                    porttitor efficitur ipsum, sed finibus metus.
                </p><br />

                <p>
                    Quisque ut feugiat lectus, faucibus lacinia libero. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus vitae velit eget tortor ornare semper. Pellentesque
                    quis volutpat tortor, id mollis dui. Donec rhoncus consectetur lacus ac tempus. Sed bibendum leo sed
                    aliquam semper. Aliquam volutpat luctus lectus, a sagittis mauris egestas quis. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Fusce quis augue mauris. Mauris nec odio blandit, luctus justo eget,
                    tincidunt neque. Donec dapibus arcu et nisl tincidunt eleifend. Cras accumsan mauris at nunc vehicula
                    consectetur. Pellentesque at lacinia ipsum, non dignissim enim. Donec fermentum sed massa quis suscipit.
                    Mauris tincidunt vestibulum nulla, vel dignissim tortor tempus sed
                </p><br />
            </div>

            <div class="storyDiv" id="workDiv">
                <p>
                    Talk about work experience
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac quam sit amet tortor
                    placerat porta ac at est. Vivamus at massa erat. Nulla facilisi. Nullam dapibus enim et
                    enim egestas faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada
                    fames ac turpis egestas. Aliquam et nisl leo. Nulla tristique porttitor mauris ac efficitur.
                    Aliquam ut odio vitae libero suscipit maximus et eget mauris. Etiam nec ipsum laoreet, viverra
                    sem vel, commodo justo. Aenean et ullamcorper nisl, a iaculis massa. Sed a facilisis mi. Nulla
                    porttitor efficitur ipsum, sed finibus metus.
                </p><br />

                <p>
                    Quisque ut feugiat lectus, faucibus lacinia libero. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus vitae velit eget tortor ornare semper. Pellentesque
                    quis volutpat tortor, id mollis dui. Donec rhoncus consectetur lacus ac tempus. Sed bibendum leo sed
                    aliquam semper. Aliquam volutpat luctus lectus, a sagittis mauris egestas quis. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Fusce quis augue mauris. Mauris nec odio blandit, luctus justo eget,
                    tincidunt neque. Donec dapibus arcu et nisl tincidunt eleifend. Cras accumsan mauris at nunc vehicula
                    consectetur. Pellentesque at lacinia ipsum, non dignissim enim. Donec fermentum sed massa quis suscipit.
                    Mauris tincidunt vestibulum nulla, vel dignissim tortor tempus sed
                </p><br />
            </div>

            <div class="storyDiv" id="personalLifeDiv">
                <p>
                    Talk about awesome wife, cool dogs, and interests here
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac quam sit amet tortor
                    placerat porta ac at est. Vivamus at massa erat. Nulla facilisi. Nullam dapibus enim et
                    enim egestas faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada
                    fames ac turpis egestas. Aliquam et nisl leo. Nulla tristique porttitor mauris ac efficitur.
                    Aliquam ut odio vitae libero suscipit maximus et eget mauris. Etiam nec ipsum laoreet, viverra
                    sem vel, commodo justo. Aenean et ullamcorper nisl, a iaculis massa. Sed a facilisis mi. Nulla
                    porttitor efficitur ipsum, sed finibus metus.
                </p><br />

                <p>
                    Quisque ut feugiat lectus, faucibus lacinia libero. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus vitae velit eget tortor ornare semper. Pellentesque
                    quis volutpat tortor, id mollis dui. Donec rhoncus consectetur lacus ac tempus. Sed bibendum leo sed
                    aliquam semper. Aliquam volutpat luctus lectus, a sagittis mauris egestas quis. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Fusce quis augue mauris. Mauris nec odio blandit, luctus justo eget,
                    tincidunt neque. Donec dapibus arcu et nisl tincidunt eleifend. Cras accumsan mauris at nunc vehicula
                    consectetur. Pellentesque at lacinia ipsum, non dignissim enim. Donec fermentum sed massa quis suscipit.
                    Mauris tincidunt vestibulum nulla, vel dignissim tortor tempus sed
                </p><br />
            </div>

        </div>
    </div>
</div>


