
@{
    ViewBag.Title = "About";
}
<script type="text/javascript">
    $(function () {
        $('.storyList').click(function () {
            var title = this.id;
            var title = title + "Div";
            $('.storyDiv').hide();
            $('#' + title).fadeIn(500);
        })
    });
</script>


@*<div class="jumbotron" id="aboutJumbotron">
        <div class="container">
        </div>
    </div>*@

<!--TODO: Make each of these storyDiv's partial pages?-->

<div class="container-fluid" id="aboutMe">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 list-group" id="aboutButtonGroup">
            <button type="button" class="list-group-item storyList" id="airForce"><p class="text-center">Air Force</p></button>

            <button type="button" class="list-group-item storyList" id="personalLife"><p class="text-center">Personal Life</p></button>
        </div>
    </div>
    <div class="row" id="storyRow">

        <div class="col-xs-12">
            <div class="storyDiv" id="airForceDiv">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">2010 - 2014</div>
                    <div class="panel-body">


                        <div class="col-xs-12 col-md-8">
                            <p>
                                Early in 2010 I decided I wanted to get out of college and join the military. Nine months later I was on a plane
                                to Lackland Air Force Base with no idea what to expect. I can honestly say the decision to halt my education for the time being
                                and join the the United States Air Force was the best decision of my life thus far. Whilst in the Air Force I learned a lot of things,
                                just a few of them being:
                            </p>
                            <ul>
                                <li>Hard work trumps everything</li>
                                <li>Communication skills are very important</li>
                                <li>If you are on time, you are late. If you are 15 minutes early, you are on time.</li>
                                <li>Moving 500 miles away from home makes you grow up... fast</li>
                                <li>
                                    Don't be afraid to take on work that is unknown to you,
                                    take that opportunity to learn something new
                                </li>
                            </ul>
                            <p>
                                While in the Air Force I was lucky enough to get experience in more than one job. I started out as a Hydraulic Systems Mechanic
                                on the C-130 aircraft, and continued with this job for about two and a half years.<br />

                            <p>
                                I was then fortunate enough to get picked up for the Base Honor Guard. That experience is, and probably will remain,
                                the most humbling experience in my life. For those of you that are not sure what the Honor Guard does, it is a team of
                                members that get to honor Veteran's and Active Duty members that have lost their life by orchestrating their funeral.
                                We also got to present the colors at various base and community events.
                            </p>

                            <p>
                                The last months of my enlistment were spent as a Unit Deployment Manager. I had no experience managing anything, and
                                had not deployed. I wanted to try something different, while fixing airplanes is cool and rewarding, it is tiring work.
                                I wanted to be a part of the process that allowed us to place members of the Air Force anywhere on the map, continuing
                                air superiority throughout the world.
                            </p>
                        </div>

                        <div class="col-xs-12 col-md-4 storyImage pull-right">
                            <img src="~/Content/images/af.jpg" class="img-responsive img-rounded" />
                        </div>
                    </div>
                </div>

            </div>



            <div class="storyDiv" id="personalLifeDiv">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">1990 - Today</div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-md-8">
                            <p>
                                A typical Saturday night for me is going to a friends house for a board game night, drinking some
                                delicious dark beer, enjoying a LAN party with my oldest of friends, or hanging at the house
                                with the wife and pets.
                            </p>
                            <p>
                                A few years back I married the loveliest of ladies. She lights up the room every time she enters.
                                We have recently purchased our first home and started our family... of pets. Two giant dinosaur dogs
                                and two typical, snarky cats.
                            </p>
                            <p>
                                I am a man of many interests, some which last only a few weeks. The ones that have persisted are:
                                playing video games when time permits, programming, reading, playing sports, and indulging in some
                                Netflix marathons.
                            </p>

                        </div>

                        <div class="col-xs-12 col-md-4 storyImage pull-right">
                            <img src="~/Content/images/homeImage.jpg" class="img-responsive img-rounded" />
                        </div>
                    </div>
                </div>
                        
                    </div>

                </div>
            </div>
</div>


