
@{
    ViewBag.Title = "Contact Me";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <div class="margin-to-get-below-navbar">
       <div class="col-xs-12 text-center">
           Contact<br />

           Email: travistme@@gmail.com<br />

           LinkedIn: (tba)

       </div>

            
  </div>
        


</body>
</html>

