
@{
    ViewBag.Title = "Contact Me";
}


 
       <div class="col-xs-12 col-sm-6 col-sm-offset-3">
       
         <div class="panel panel-default" id="contact-table">
           <div class="panel-heading text-center">Contact Me</div>
           <div class="panel-body text-center">

              <span class="glyphicon glyphicon-envelope"></span>  Email: travistme@@gmail.com<br />

               <span class="glyphicon glyphicon-globe"></span>Louisville, Kentucky<br />
               LinkedIn: (tba)

           </div>
       </div>
     </div>   

