
@{
    ViewBag.Title = "Contact Me";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <div class="margin-to-get-below-navbar">
       <div class="col-xs-6 col-xs-offset-3">
       
         <div class="panel panel-default" id="contact-table">
           <div class="panel-heading text-center">Contact Me</div>
           <div class="panel-body text-center">

               Email: travistme@@gmail.com<br />

               Louisville, Kentucky<br />
               LinkedIn: (tba)

           </div>
       </div>
     </div>   
  </div>
        


</body>
</html>

