
<div class="panel panel-default">
    <div class="panel-heading text-center">1990 - Today</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-8">
            <p>
                A typical Saturday night for me is going to a friends house for a board game night, drinking some
                delicious dark beer, enjoying a LAN party with my oldest of friends, or hanging at the house
                with the wife and pets.
            </p>
            <p>
                A few years back I married the loveliest of ladies. She lights up the room every time she enters.
                We have recently purchased our first home and started our family... of pets. Two giant dinosaur dogs
                and two typical, snarky cats.
            </p>
            <p>
                I am a man of many interests, some which last only a few weeks. The ones that have persisted are:
                playing video games when time permits, programming, reading, playing sports, and indulging in some
                Netflix marathons.
            </p>

        </div>

        <div class="col-xs-12 col-md-4 storyImage pull-right">
            <img src="~/Content/images/homeImage.jpg" class="img-responsive img-rounded" />
        </div>
    </div>
</div>
