
<div class="panel panel-default">
    <div class="panel-heading text-center">Kenmark Optical (2014 - 2015)</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-8">

        </div>
    </div>
</div>