

<div class="panel panel-default">
    <div class="panel-heading text-center">Air Force (2010 - 2012)</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-8">

        </div>
    </div>
</div>
