
@{
    ViewBag.Title = "About";
    ViewBag.NavBarTab = "About";
}

<div class="container-fluid" id="aboutMe">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 list-group" id="aboutButtonGroup">
            <button type="button" class="list-group-item storyList" id="airForce"><p class="text-center">Air Force</p></button>

            <button type="button" class="list-group-item storyList" id="personalLife"><p class="text-center">Personal Life</p></button>
        </div>
    </div>
    <div class="row" id="storyRow">
        <div class="col-xs-12">
            <div class="storyDiv" id="airForceDiv">
                @Html.Partial("~/Views/Home/_AboutAirForce.cshtml")
            </div>

            <div class="storyDiv" id="personalLifeDiv">
                @Html.Partial("~/Views/Home/_AboutPersonalLife.cshtml")
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            $('.storyList').click(function () {
                var title = this.id;
                var title = title + "Div";
                $('.storyDiv').hide();
                $('#' + title).fadeIn(500);
            })
        });
    </script>
}