
@{
    ViewBag.Title = "Contact Me";
    ViewBag.NavBarTab = "Contact";
}

<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <img id="about-self-image" src="~/Content/images/mewedding.jpg" class="img-responsive img-rounded" />
    <div class="panel panel-default" id="contact-table">
        <div class="panel-heading text-center">Contact Me</div>
        <div class="panel-body text-center">

            <span class="glyphicon glyphicon-envelope"></span>  Email: travistme@@gmail.com<br />

            <span class="glyphicon glyphicon-globe"></span>Louisville, Kentucky<br />

            <i class="fa fa-linkedin"><span>LinkedIn: (tba)</span></i><br />

            <i class="fa fa-github"><span>travistme</span></i>

        </div>
    </div>
</div>   

@*<div class="col-md-4">
        

        <p id="quotes">
            Once you decide on your occupation, you must immerse yourself in your work. You have to fall in love with your work. Never complain about your job.
            You must dedicate your life to mastering your skill. That's the secret of success... and is the key to being regarded honorably." - Jiro Ono
        </p>
    </div>*@
