
@{
    ViewBag.Title = "Travis Elkins";
    }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <div class="col-xs-12 col-sm-6">
        Container for image
    </div>
    <div class="col-xs-12 col-sm-6">
        <div id="home-name">
            Travis Elkins
        </div>
        <div>
            <ul>
                <li>Pursuing a degree in Computer Science at Indiana University Southeast</li>
                <li>Currently working as an IT Intern at ZirMed</li>
                <li>Part time member of the Air National Guard</li>
                <li>Married to the woman of my dreams!</li>
            </ul>
        </div>
    </div>
</body>
</html>
