
@{
    ViewBag.Title = "Travis Elkins";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
    <body>
            <div class="jumbotron">
                <div class="container">

                    <div class="col-lg-12">

                        <h1> Travis Elkins </h1>
                        <br><br>

                        <div class="col-lg-4 col-lg-offset-3 col-md-3 col-md-offset-4 col-sm-3  col-sm-offset-3">
                            <a class="btn btn-link btn-lrg" href="/about" role="button" id="buttonAboutMe"><strong>About Me</strong></a>
                        </div>

                        <div class="col-lg-3 xs-col-3">
                            <a class="btn btn-link btn-lrg" href="/contact" role="button" id="buttonContact"><strong>Contact</strong></a>
                        </div>

                    </div>

                </div>
            </div>



            <div class="col-md-12">
                <div class="center-block">
                    <h2 id="intro"> A Brief Introduction </h2>
                    
                 
                 <div id="home-info">
                     <p> _________________________________________</p>
                     <p> I am 24 years of age</p>
                     <p> I am happily married</p>
                     <p> Currently studying Computer Science at Indiana University Southeast</p>
                     <p> I have a passion for learning, I feel it is essential to living</p>
                     <p> I am not afraid to try new things</p>
                 </div>
                    

                </div>
            </div>



    </body>
</html>
