
@{
    ViewBag.Title = "Travis Elkins";
}

<div class="jumbotron" id="homeJumbotron">
    <div class="container" id="jumboContainer">
        <h1 id="homeName"> Travis Elkins </h1>
        <div class="col-md-12">
            <div class="center-block">
               
                <div id="home-info">
                    <p> _________________________________________</p>
                    <p> Information Technology Intern at ZirMed&#xae;</p>
                    <p> Studying Computer Science at Indiana University Southeast</p>
                    <p> Video Game Nerd</p>
                    <p> Happily Married</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center">
                <a class="btn btn-link btn-lrg" href="@Url.Action("About","Home")" role="button" id="buttonAboutMe"><strong>About Me</strong></a>
            </div>

            <div class="col-xs-6 text-center">
                <a class="btn btn-link btn-lrg" href="@Url.Action("Contact", "Home")" role="button" id="buttonContact"><strong>Contact</strong></a>
            </div>
        </div>
    </div>
</div>




